---
---

$small-screen: "screen and (max-width: 600px)"

$red: #b22
$bright-red: #c00
$gold: #dc2
$gold-hover: #ed0
$grey: #ddd
$overlay: rgba(0, 0, 0, 0.15)
$doverlay: rgba(0, 0, 0, 0.75)

$text-font: "Gentium Basic", serif
$display-font: "Arvo", serif

$center-width: 900px

section
    width: 100vw
h1
    text-align: center

.first-block 
    background-image: url(/assets/front-picture.jpg)
    background-position: 50% 65%
    background-size: cover
    background-color: #444
    height: 400px
    display: flex
    flex-direction: column
    justify-content: center
    text-align: center

    span
        font-family: $display-font
        font-size: 3rem
        font-weight: bold
        color: white

a#join
    align-self: flex-start
    margin: 1.5em auto


.first-block:before
    content: ''
    position: absolute
    top: 0
    bottom: 0
    left: 0
    right: 0
    background-image: linear-gradient(black 0%, $doverlay 15%, $doverlay 75%, black 100%)
    opacity: 0.5

.latest-block
    margin: 2em auto

.post-container
    max-width: $center-width
    width: 100vw
    padding: 0 1em
    margin: 0 auto

    a
        text-decoration: none
        color: black

    article
        display: flex
        background-color: #eee
        min-height: 10em
        border-left: 3px solid $red
        margin-top: 1em

    img
        margin: 0
        width: 10em
        height: 10em
        object-fit: cover
        object-position: left center

    .content-wrapper
        padding: 1em 1em 1em 2em

    h2
        margin-top: 0.5em

.benefits-block
    background-color: #bcc
    padding: 2em

.accomplishments
    display: flex
    flex-wrap: wrap

    .item
        background: white
        padding: 1em
        box-shadow: 0 0 12px $overlay
        border-radius: 2px
        margin: 0.5em
        flex-grow: 1
        flex-basis: 30%
        display: flex
        flex-direction: column
        justify-content: space-around
        text-align: center
        font-size: 1.5rem

    .big
        display: block
        font-family: $display-font
        font-size: 3.5rem

    .desc
        font-size: 1.25rem
        color: #777

.join-block
    padding: 1em 2em
    display: flex
    align-items: center
    justify-content: space-around
    background-color: $red

    .text
        font-size: 2rem
        font-weight: bold
        margin: 0 0.5em
        text-transform: uppercase

    .membership-count
        font-family: $display-font
        font-size: 6rem
        font-weight: bold

    .join-button
        flex-basis: 9em

.members-block
    padding: 1em 2em 3em

.resources
    display: flex
    flex-wrap: wrap
    justify-content: space-around

@media #{$small-screen}
    .post-container img
        display: none

    .post-container h2
        margin: 0 0 0.5em 0

    .accomplishments
        flex-direction: column
