---
---

$small-screen: "screen and (max-width: 600px)"

$red: #b22
$bright-red: #c00
$gold: #dc2
$gold-hover: #ed0
$grey: #ddd
$darkgrey: #444
$overlay: rgba(0, 0, 0, 0.15)
$doverlay: rgba(0, 0, 0, 0.75)

$text-font: "Gentium Basic", serif
$display-font: "Arvo", serif

$center-width: 900px

* 
    box-sizing: border-box
    position: relative

body 
    margin: 0
    font-family: $text-font

main
    margin: 2em auto 5em auto
    padding: 0
    font-size: 11pt
    width: calc(100vw - 2em)
    max-width: $center-width

.nomargin
    margin: 0
    padding: 0

h1,h2,h3
    font-family: $display-font

p
    color: #222
    text-align: justify


$banner-height: 180px
$logo-height: 140px

.banner 
    background: $red
    height: $banner-height
    z-index: 5

#menu
    display: none

a.logo-wrapper
    display: block
    margin: 0 auto
    width: $logo-height
    top: ($banner-height - $logo-height) / 2

.main-logo
    height: $logo-height

.fb
    position: absolute
    top: 12px
    left: 6px
    height: 20px
    opacity: 0.5


nav.mobile
    visibility: hidden
    display: flex
    flex-direction: column
    position: absolute
    top: $banner-height
    margin-top: -500px
    background: $darkgrey
    box-shadow: inset 0 20px 20px -20px $doverlay, 0 20px 20px -20px $doverlay
    z-index: 2
    width: 100vw
    transition: margin 400ms
    overflow: hidden
    padding: 1.5em 1em 


    a
        color: $grey
        text-decoration: none
        font-size: 1.25rem
        margin-bottom: 1.5em

    .indent
        display: flex
        flex-direction: column
        margin-left: 2em

        a
            font-size: 1rem !important

    .join-nav-button
        padding: 0.75em
        margin-bottom: 0
        margin-top: 0.25em
        width: 6em

nav.main
    display: inline-block
    position: absolute
    height: 3.2em
    bottom: calc(#{$banner-height / 2} - 1.6em)
    display: flex
    justify-content: space-around
    align-items: center
    width: calc(50% - #{$logo-height/2})

    div
        padding: 1em
        height: 3.2rem

    a
        font-family: $display-font
        font-size: 1.1rem
        color: white
        text-decoration: none

    div:hover
        background-color: $overlay
        cursor: pointer

nav#left-nav
    left: 0

nav#right-nav
    right: 0

.dropdown > ul
    display: none
    position: absolute
    z-index: 10
    background: white
    box-shadow: 0 6px 12px $overlay
    border-radius: 0 2px 2px 2px
    list-style: none
    margin: 0.80em 0 0 -1em
    padding: 1em
    width: 15em

    a
        color: black
        font-family: $text-font
        margin-top: 0.5em

    a:hover
        text-decoration: underline

    li
        margin-top: 0.5em
    li:first-child
        margin-top: 0

.dropdown:hover > ul,
.dropdown > ul:hover
    display: block

.join-nav-button
    padding: 1em
    min-width: 5em
    text-align: center
    color: black !important
    background: $gold 
    font-weight: bold
    transition: 200ms

.join-nav-button:hover
    background: $gold-hover 

.byline
    font-size: 0.8em
    font-weight: bold
    color: #777
    display: block
    padding-bottom: 2em
    margin-bottom: 2em
    border-bottom: 1px solid #aaa

.author
    margin-right: 2em
    text-transform: uppercase

.date
    font-weight: normal
    text-transform: uppercase

        
iframe
    max-width: calc(100vw - 2em)
    width: $center-width
    border: 1px solid $grey

hr
    border: none
    background: #aaa
    height: 1px

p img
    max-width: calc(100vw - 3em)
    float: right
    margin: 1em

p img:not([width])
    width: 440px

main a:not(.button), main a:visited:not(.button)
    text-decoration: none 
    color: #a44
main a:not(.button):hover
    text-decoration: underline
    color: red

footer
    background: $darkgrey
    color: #aaa
    padding: 2em 4em 7em
    box-shadow: inset 0 20px 20px -20px $doverlay

.copyright
    text-align: right

.footer-wrap
    display: flex
    justify-content: space-between
    align-items: flex-start
    margin-bottom: 1em

#contact
    background: $grey
    color: #222
    text-decoration: none
    padding: 0.5em
    display: inline-block
    font-weight: bold

.button
    font-family: $display-font
    display: inline-block
    font-weight: bold
    font-size: 1.2rem
    padding: 1em
    text-decoration: none
    background-color: $red
    border: 1px solid white
    color: white
    transition: all 200ms
    text-align: center

.button:hover
    background-color: $bright-red

main p .button
    margin-right: 0.5em

@media #{$small-screen}
    .fb 
        display: none

    nav.main
        display: none

    $banner-height: 140px
    $logo-height: 120px

    #menu
        display: block
        background: transparent
        border: none
        outline: none
        position: absolute
        top: $banner-height/2 - 15px
        left: 8px

        div
            width: 20px
            height: 2px
            margin-top: 4px
            background: white

    nav.mobile
        top: $banner-height
        visibility: visible

    .banner 
        height: $banner-height

    a.logo-wrapper
        width: $logo-height
        top: ($banner-height - $logo-height) / 2

    .main-logo
        height: $logo-height

    footer
        padding: 2em 2em 5em
