---
nosidebar: true
css: home
title: UGSDW – Union of Grinnell Student Dining Workers
banner-text: A  VOICE  FOR  EVERYONE.
members: 135
published: true
---
<!-- IMAGE BANNER AT TOP OF PAGE.
     URL of image is found is css/home.sass 
     You can also just replace "front-image.jpg" in the assets/ folder. -->
<section class="first-block">
    <span>{{ page.banner-text | smartify }}</span>
    <!--<a id="join" class="button" href="/join/">JOIN THE UNION</a>-->
    <a id="join" class="button" href="/together/">2017 EXPANSION</a>
</section>

<!-- LATEST NEWS -->
<section class="latest-block">
    <h1>LATEST</h1>
    <div class="post-container">
        {% for post in site.posts limit: 5 %}
        <a href="{{ post.url }}">
            <article>
                <div class="img-wrapper">
                    {% assign images = post.content | split:'img ' %} 
                    {% for image in images %}
                        {% if image contains 'src' %}
                            {% assign html = image | split:"/>" | first %}
                            <img {{ html  }} />
                            {% break %}
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="content-wrapper">
                    <h2>
                        {{ post.title | smartify }}
                    </h2>
                    <span>{{ post.excerpt | smartify}}</span>
                </div>
            </article>
        </a>
        {% endfor %}

    </div>

    <div style="text-align: center; margin-top: 2em">
        <a class="button" href="/news/">See More</a>
    </div>
</section>

<!-- BENEFITS TO JOINING UGSDW -->
<section class="benefits-block">
    <h1>THE UNION DIFFERENCE</h1>
    <div class="accomplishments">
        <div class="item">
            <span class="big">$9.50</span>
            <span class="desc">Wage under new contract</span>
        </div>
        <div class="item">
            Food Safety Training
        </div>
        <div class="item">
            <span class="big">25%</span>
            <span class="desc">Decrease in unfilled shifts since new contract</span>
        </div>
        <div class="item">
            Experience Bonuses
        </div>
        <div class="item">
            Grievance Procedure
        </div>
    </div>
</section>

<!-- JOINING SECTION -->
<section class="join-block">
    <div class="text-wrapper">
        <span class="membership-count">{{ page.members }}</span>
        <span class="text">Of your fellow students are members.</span>
    </div>
    <a class="join-button button" href="/join/">JOIN THEM</a>
</section>

<!-- MEMBER RESOURCES -->
<section class="members-block">
    <h1>MEMBER RESOURCES</h1>
    <div class="resources">
        <a class="button" href="mailto:ugsdw.org@gmail.com?subject=FOR: Union Rep" target="_blank">CONTACT YOUR REP.</a>
        <a class="button" href="/members/dues/">PAY DUES</a>
        <a class="button" href="/members/contract/">READ YOUR CONTRACT</a>
    </div>
</section>
