---
css: home
---

<section class="first-block">
    <span>WE&rsquo;RE STRONGER TOGETHER.</span>
    <a id="join" class="button" href="/join/">JOIN THE UNION</a>
</section>

<section class="latest-block">
    <h1>LATEST</h1>
    <div class="post-container">
        {% for post in site.posts limit: 5 %}
        <a href="{{ post.url }}">
            <article>
                {% assign images = post.content | split:'img ' %} 
                    {% for image in images %}
                        {% if image contains 'src' %}
                            {% assign html = image | split:"/>" | first %}
                            <img {{ html  }} />
                            {% break %}
                        {% endif %}
                    {% endfor %}
                <div class="content-wrapper">
                    <h2>
                        {{ post.title }}
                    </h2>
                    <span>{{ post.excerpt }}</span>
                </div>
            </article>
        </a>
        {% endfor %}

    </div>

    <div style="text-align: center; margin-top: 2em">
        <a class="button" href="/news/">See More</a>
    </div>
</section>

<section class="benefits-block">
    <h1>THE UNION DIFFERENCE</h1>
    <div class="accomplishments">
        <div class="item">
            <span class="big">$9.25</span>
            <span class="desc">Wage under new contract</span>
        </div>
        <div class="item">
            Food Safety Training
        </div>
        <div class="item">
            <span class="big">25%</span>
            <span class="desc">Decrease in unfilled shifts since new contract</span>
        </div>
        <div class="item">
            Experience Bonuses
        </div>
    </div>
</section>

<section class="join-block">
    <span class="membership-count">93</span>
    <span class="text">Of your coworkers are members.</span>
    <a class="join-button button" href="/join/">JOIN THEM</a>
</section>

<section class="members-block">
    <h1>MEMBER RESOURCES</h1>
    <div class="resources">
        <a class="button" href="mailto:ugsdw.org@gmail.com?subject=FOR: Union Rep" target="_blank">CONTACT YOUR REP.</a>
        <a class="button" href="/members/dues/">PAY DUES</a>
        <a class="button" href="/members/contract/">READ YOUR CONTRACT</a>
    </div>
</section>
