<footer>
    <div class="center">
        <div class="footer-wrap">
            <div>
                <address>
                    Union of Grinnell Student Dining Workers <br>
                    1115 8<sup>th</sup> Avenue <br>
                    Grinnell, Iowa 50112 
                </address>
                <br>
                <a href="https://facebook.com/ugsdw" target="_blank" alt="UGSDW Facebook">
                    <img alt="UGSDW Facebook" title="UGSDW Facebook"
                        height="16" style="opacity: 0.5" src="/assets/facebook.png">
                </a>
            </div>

            <div>
                <a id="contact" href="mailto:ugsdw.org@gmail.com" alt="Contact Us" target="_blank">CONTACT US</a>
                <br>
                <br>
                <a id="contact" href="/" alt="Union of Grinnell Student Dining Workers (UGSDW)">HOMEPAGE</a>
            </div>
        </div>

        <div>
        </div>

        <div class="copyright">
            &copy; {{ site.time | date: '%Y'  }} Union of Grinnell Student Dining Workers. 
            All rights reserved.
        </div>
    </div>
</footer>

<script type="text/javascript">
    if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register("/service-worker.js", {scope: "/"});
    } 
</script>
