<footer>
    <div class="footer-wrap">
        <address>
            Union of Grinnell Student Dining Workers <br>
            1115 8<sup>th</sup> Avenue <br>
            Grinnell, Iowa 50112 
        </address>

        <a id="contact" href="mailto:ugsdw.org@gmail.com" target="_blank">CONTACT US</a>
    </div>

    <div>
        <a href="https://facebook.com/ugsdw" target="_blank">
            <img height="16" style="opacity: 0.5" src="/assets/facebook.png">
        </a>
    </div>

    <div class="copyright">
        &copy; {{ site.time | date: '%Y'  }} Union of Grinnell Student Dining Workers. 
        All rights reserved.
    </div>
</footer>

<script type="text/javascript">
    if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register("/service-worker.js", {scope: "/"});
    } 
</script>
