<footer>
    <div class="center">
        <div class="footer-wrap">
            <div>
                <address>
                    Union of Grinnell Student Dining Workers <br>
                    1115 8<sup>th</sup> Avenue #5852<br>
                    Grinnell, Iowa 50112 
                </address>
                <br>
                <div class="social-footer">
                    <a href="https://facebook.com/ugsdw" target="_blank" alt="UGSDW Facebook">
                        <img src="/assets/icons/fb.png" alt="UGSDW Facebook" title="UGSDW Facebook">
                    </a>
                    <a href="https://www.twitter.com/ugsdw/" target="_blank" alt="UGSDW Twitter">
                        <img src="/assets/icons/twitter.png" alt="UGSDW Twitter" title="UGSDW Twitter">
                    </a>
                    <a href="https://www.instagram.com/ugsdw/" target="_blank" alt="UGSDW Instagram">
                        <img src="/assets/icons/insta.png" alt="UGSDW Instagram" title="UGSDW Instagram">
                    </a>
                </div>
            </div>

            <div>
                <a id="contact" href="mailto:union@ugsdw.org" alt="Contact Us" target="_blank">CONTACT US</a>
                <br>
                <br>
                <a id="contact" href="/" alt="Union of Grinnell Student Dining Workers (UGSDW)">HOMEPAGE</a>
            </div>
        </div>

        <div>
        </div>

        <div class="copyright">
            &copy; {{ site.time | date: '%Y'  }} UGSDW. 
            All rights reserved.
        </div>
    </div>
</footer>

<script type="text/javascript">
    if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register("/service-worker.js", {scope: "/"});
    } 
</script>
