<header>
    <div class="banner">
        <button id="menu">
            <div></div>
            <div></div>
            <div></div>
        </button>

        <a href="https://facebook.com/ugsdw" target="_blank">
            <img class="fb" src="/assets/facebook.png">
        </a>

        <a class="logo-wrapper" href="/">
            <img class="main-logo" src="/assets/logo_white_280.png">
        </a>

        <nav class="main" id="left-nav">
            <div>
                <a href="/news/">Latest News</a>
            </div>

            <div class="dropdown">
                <a href="/about/">About</a>
                <ul>
                    <li><a href="/about/governing-docs">Governing Documents</a></li>
                    <li><a href="/about/contact">Contact</a></li>
                    <li><a href="/about/press">Press</a></li>
                </ul>
            </div>
        </nav>

        <nav class="main" id="right-nav">
            <div class="dropdown">
                <a href="/members/">Members</a>
                <ul>
                    <li><a href="/members/contract">Your Contract</a></li>
                    <li><a href="/members/rights">Your Rights</a></li>
                    <li><a href="/members/dues">Dues</a></li>
                </ul>
            </div>

            <a class="join-nav-button" href="/join/">JOIN</a>
        </nav>
    </div>

    <nav class="mobile">
        <a href="/news/">Latest News</a>
        <a href="/about/">About</a>
        <div class="indent">
            <a href="/about/governing-docs">Governing Documents</a>
            <a href="/about/contact">Contact</a>
            <a href="/about/press">Press</a>
        </div>
        <a href="/members/">Members</a>
        <div class="indent">
            <a href="/members/contract">Your Contract</a>
            <a href="/members/rights">Your Rights</a>
            <a href="/members/dues">Dues</a>
        </div>
        <a class="join-nav-button" href="/join/">JOIN</a>
    </nav>

    <script type="text/javascript" defer>
        document.addEventListener("readystatechange", function() {
            if (document.readyState !== "complete") return; 

            var menuButton = document.querySelector("#menu");
            var menu = document.querySelector("nav.mobile");
            var height = ~~menu.getBoundingClientRect().height + 20;
            var heightStr = "-" + height + "px";
            menu.style.marginTop = heightStr;

            var open = false;

            menuButton.addEventListener("click", function() {
                open = !open;

                menu.style.marginTop = open ? "0" : heightStr;
            });
        });
    </script>
</header>
