<div>
    <!-- FACEBOOK CODE -->
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8";
    fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
</div>

<a class="button" href="mailto:ugsdw.org@gmail.com?subject=FOR: Union Rep">Contact Your Rep.</a>

<span class="description">
    {{ site.description }}
</span>

<!-- FACEBOOK PAGE PLUGIN -->
<div class="fb-page" data-href="https://www.facebook.com/ugsdw/"
                     data-tabs="timeline,events" 
                     data-width="250"
                     data-height="400"
                     data-small-header="false"
                     data-adapt-container-width="true"
                     data-hide-cover="false"
                     data-show-facepile="false">
    <blockquote cite="https://www.facebook.com/ugsdw/"
                     class="fb-xfbml-parse-ignore">
         <a href="https://www.facebook.com/ugsdw/">Union of Grinnell Student Dining Workers</a>
    </blockquote>
</div>
